@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  /*  */
  /* --primary: oklch(0.21 0.006 285.885); */
  --primary: #5a7a99;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/100;
  }
  body {
    @apply bg-background;
    font-family: "Zen Maru Gothic", sans-serif;
  }
}

/* カレンダー全体のスタイル */
.react-calendar {
  width: 100% !important;
  background: white;
  border-radius: 18px;
  padding: 20px;
  font-family: "Zen Maru Gothic", sans-serif !important;
  font-weight: bold;
  font-size: 0.8rem;
  border: 1px solid #dae6f6 !important;
}

/* ナビゲーション（前月・次月のボタン + 月タイトル） */
.react-calendar__navigation {
  background: #5382b1ed !important;
  color: white;
  border-radius: 10px;
  padding: 2px;
}

/* 月タイトル */
.react-calendar__navigation span {
  font-size: 1rem;
  font-weight: bold;
}

/* ナビゲーションボタン（前月・次月） */
.react-calendar__navigation button {
  background: #5382b1ed !important;
  font-size: 1rem;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

/* ホバー時 */
.react-calendar__navigation button:hover {
  background: #5382b1ed !important;
  border-radius: 4px;
}

/* 曜日ヘッダー */
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #2c5282;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* 曜日ラベル */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  font-size: 0.8rem !important;
}

/* 選択可能な全ての日（通常時） */
.react-calendar__tile {
  background: #5382b1ed !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 4px !important;
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
}

/* 選択中 */
.react-calendar__tile--active {
  color: white !important;
}

/* 本日 */
.react-calendar__tile--now {
  background: #83c6f5 !important;
  font-weight: bold;
}

/* ホバー時 */
.react-calendar__tile:hover {
  background: #5382b1bb !important;
  color: white !important;
}

/* 選択不可能な日 */
.react-calendar__tile:disabled {
  background: #b2b9bfa5 !important;
  color: #696f76c0 !important;
  border: 1px solid white !important;
  border-radius: 4px !important;
}

/* 前後の月の日付（オパシティを下げる） */
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5;
}

/* 土曜日を青、日曜日を赤 */
.react-calendar__month-view__days__day:nth-child(7n) {
  color: #e53e3e !important; /* 日曜日 */
}
